<div class="{{page.header.menu_position ? 'absolute top-0 left-0 w-full z-10 text-white ' : 'text-gray-600'}}">
	<div class="container mx-auto  my-3   ">
		<div class="navbar items-center">

			<h1 class="flex-1">
				<a href="{{ home_url|e }}" class="btn btn-ghost normal-case text-3xl">{{  config.site.title|e  }}</a>
			</h1>

			<div class="flex-none">
				{% block header_navigation %}
					<nav class="main-nav">
						{% include 'partials/navigation.html.twig' %}
					</nav>
				{% endblock %}
			</div>
		</div>
	</div>
</div>
